﻿<%@ Page Title="" Language="C#" MasterPageFile="~/StrivingReadersMasterPage.master" AutoEventWireup="true" CodeFile="discussion-board.aspx.cs" Inherits="discussion_board" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <title>Striving Readers - Webinars</title>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="srContents" Runat="Server">
     <section class="head-image">
                    <img src="images/discussion-board.jpg" class="img-responsive" alt="Resources Computer with Hands" />
                </section>

                <section class="bg-blue center home-section-pad">
                    <div class="container">
                        <h2>Discussion Board</h2>
                    </div>
                </section>

				<section class="internal-page-content">
					<div class="container">
						<div class="col-lg-12 col-xs-12">
						 <p>Lorem ipsum dolor sit amet, alii definitionem vix ne. Has ancillae constituam ei, at has prima dolor conceptam. Ei admodum temporibus deterruisset usu, duo iuvaret volutpat delicatissimi ut, ut has sanctus rationibus concludaturque. Intellegat eloquentiam adversarium vix no. Mei bonorum definitiones ea, sea an dolor affert laoreet.</p>
                         
                         
                        <br /> <img src="images/discuss.png" class="img-responsive img-discuss" alt="sample discussion room"/>
<div class="table-responsive">		
			  <!--BEGIN HEAD OF DISPLAY ELEMENTS-->
														
			  <!--END HEAD OF DISPLAY ELEMENTS-->
							
						



                            
							</div>
						</div>
						
					</div>
				</section>      
</asp:Content>

