    <footer class="row readers-footer">
        <div class="container">
        <div class="footer-nav">
        	<ul>
				<li><a href="Contacts.aspx">Contact</a></li>
        		<li><a href="#">Disclaimer</a></li>
        		<li><a href="#">Privacy Policy</a></li>
			</ul>
            <div class="text-center">
            <img src="/images/ed-logo-white_0.png" class="img-responsive text-center ed-logo" alt="ED Logo"/>
            </div>
        </div>
		</div>
    </footer>
