﻿<%@ Page Title="" Language="C#" MasterPageFile="~/StrivingReadersMasterPage.master" AutoEventWireup="true" CodeFile="webinars-archivesDetail.aspx.cs" Inherits="webinars_archivesDetail" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="srContents" Runat="Server">
    <asp:Panel ID="pnlSRgrantee" runat="server">
    <div class="mpeDiv" style="padding-top: 300px;padding-left:30px; padding-right:30px;">
            <div class="mpeDivHeader">
                Event Details
                <span class="closeit"><asp:LinkButton ID="lbtnClose" runat="server" Text="Close" CssClass="btn btn-grantee" OnClick="lbtnClose_Click" />
                </span>
            </div>
            <div class="popContent">
            <asp:Label ID="lblContents" runat="server" Text="Label"></asp:Label>
            </div>
        <table>
             <tr>
                         <td colspan="2">
                             <asp:Button ID="btnGrntClose" runat="server" CssClass="btn btn-grantee" Text="Close Window" OnClick="lbtnClose_Click" />
                         </td>
                     </tr>
        </table>
        </div>
    </asp:Panel>
</asp:Content>

