body{font-size:14px;font-family:sans-serif;background-color:#ecf0f1;padding: 0;margin:0}

a:hover{border-bottom:1px dotted;text-decoration:none}
img{border:none;}

.innercontainer { width: 940px;margin: 0 auto; }
/*topheader*/
.topheader { background-color: #34495e;height: 34px;font-size:11px;text-transform:capitalize;white-space:nowrap}
.topheader ul {text-align: right; list-style: none;padding: 0;margin: 0}
.topheader ul li {display: inline;margin-left: 30px;line-height: 34px;}
.topheader a {color:#c0c8c9;text-decoration:none}
.topheader a:hover{color:#3586b3 !important;border:none}
.topheader .backtowebsite { float: left;margin: 0;font-weight: bold;text-transform: lowercase}
.topheader .backtowebsite a {color: #8091A3;}


/*header*/
.header { height: 80px;background-color: #3498db;}
.header h1 {float: left;font-size:24px;color:#fff;margin: 0; line-height: 80px}
.header h1 a { color: #fff;}
.header a {color:#b4d1e5;text-decoration:none;}
.header a:hover{border-bottom:1px dotted;text-decoration:none}
.header .logininfo { float: right;line-height: 80px;}
.header .logininfo > div , .header #curuserTable > div{ float: right;height: 80px}
.header .logininfo .registerLink, .header .logininfo .lostpswLink { line-height: normal;}
.header .logininfo a.registerLink { color: #ffffff;font-size: 18px;font-weight: bold;}
.header .logininfo a.lostpswLink { color: #34495e;font-size: 12px;}
.header .sociallogin { border: 2px solid #308ecd;padding: 5px;border-radius: 3px;margin-right: 30px}
.header .sociallogin a { margin: 0 3px;}
.header .unreadInfo { margin-right: 180px;}
.header .unreadInfo a { color: #b4d1e5;font-weight: bold;font-size: 15px;margin-left: 30px;}
.header .unreadInfo img {margin-right:3px}
.header .curUserInfo a { font-size: 12px;}
.header a.curUsername { color: #072a42;font-weight: bold;font-size:17px}
.header .curUserInfo { min-width: 150px;}

/* inputs */
input[type=text],input[type=password], input[type=submit], input[type=button], select, a.button, textarea, button{border: 1px solid #2980b9; height: 30px;border-radius: 3px;font-size: 14px;vertical-align:middle}
.header input[type=text], .header input[type=password], .header input[type=submit] {border: 0;color: #fff;padding: 0 10px;}
.header input[type=text],.header input[type=password] {background-color: #2980b9;width: 135px;}
a.button {background-color: #3498db;color: #fff !important;padding: 7px 10px;text-decoration: none; border: none}
a.button:hover {background-color: #34495e;text-decoration:none !important}
.header input[type=submit] { background-color: #34495e;color:#3498db}

input:focus,select:focus,textarea:focus,button:focus {outline: none;}

.header ::-webkit-input-placeholder {color: #3498db;}
.header :-moz-placeholder {color: #3498db;}
.header ::-moz-placeholder {color:#3498db;}
.header :-ms-input-placeholder {color: #3498db;}

/*main body*/
.forumcontent table {font-size:100%;border-collapse:collapse;}
.forumcontent h1 {font-weight:normal;font-size:18pt;margin-bottom:0;margin-top:20px;text-transform:capitalize;color:#34495e}
.forumcontent h2 {margin:0;font-size:18px;color: #34495e;text-transform:capitalize}
.forumcontent th h2{ font-size: 24px;font-weight: normal;margin:30px 0 0;text-transform: capitalize;text-align: left;margin-left:-15px}
.forumcontent h2 a {color: #3498db;}
.forumcontent h3 {font-weight:bold;font-size:100%;}
.forumcontent a {color:#3498db;text-decoration:none;}
.forumcontent th {color: #778899;text-transform: uppercase;text-align: center;font-size: 10px;height: 15px; vertical-align: bottom; padding:15px}
.forumcontent th a {color:#7ab5e4;}
.forumcontent td {border:1px solid #ecf0f1;background-color:#FFFFFF;padding:11px}
.forumcontent table.noouterborder, .forumcontent table.noouterborder th {border:none;}
.forumcontent img{vertical-align:middle;}
.forumcontent hr{height:1px;border:none;color:silver;background:silver;}
.forumcontent div.location{margin:20px 0;}
.forumcontent div.location h2 a, .forumcontent div.location h2{text-decoration: none;font-size: 14px;text-transform:capitalize}
.forumcontent div.location h1 a {color:#355670;font-size:30px}
.forumcontent div.location h1 .postbutton {float:right;margin-top:10px}
.forumcontent div.location h1 .postbutton a {font-size:15px;font-weight:bold}
.forumcontent .topictools {visibility:hidden;float:right;margin-top:7px;}
.forumcontent .topictools a {margin-right:20px;border:none}
.forumcontent .biglist tr:hover .topictools {visibility:visible}
.forumcontent .smalltoolbar { float:right; font-size:11px }
.forumcontent .smalltoolbar a { margin-left:10px }

.forumcontent .gray {color:#7f8c8d;font-size:12px;font-weight:normal;}
.forumcontent .gray2 {color:#c3c3c3;font-size:12px;font-weight:normal;}
.forumcontent .gray2 a {color:#7f8c8d;border-bottom:1px dotted}
.forumcontent th .gray {color:#ccc;}
.forumcontent .gray a, .header .gray a {border-bottom:1px dotted}
.forumcontent .gray a:hover, .forumcontent .gray2 a:hover {text-decoration:none;border:none}
.forumcontent .radiolist td {text-align:left;}
.forumcontent .acceptedAnswer td {background-color:#EBFFE9;}
.forumcontent .messageActions { text-transform: uppercase;font-size: 10px;color: #476380;font-weight: bold;}
.forumcontent .messageActions a { color: #476380;font-weight: bold;margin: 0 5px;}

.forumcontent input[type="text"], .forumcontent input[type="password"] {height:26px}

.forumcontent .usertools {float:left;margin-left:30px;}
.forumcontent .usertools input, .forumcontent .usertools button {width:350px;margin-bottom:10px;display:block}

.forumcontent input[type="checkbox"],
.header input[type="checkbox"]{vertical-align:middle;}

.forumcontent input[type="button"],
.forumcontent input[type="submit"],
.forumcontent button {text-transform:capitalize;color:White;background-color: #3498db;font-weight: bold;font-size: 15px;height: 32px;cursor:pointer;border:none;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;padding:7px 10px}

.forumcontent input[type="button"].greybutton,
.forumcontent input[type="submit"].greybutton,
.forumcontent button.greybutton {background-color:slategray;border-color:slategray;}
.forumcontent input[type="button"].greybutton:hover,
.forumcontent input[type="submit"].greybutton:hover,
.forumcontent button.greybutton:hover{background-color:#999;}

.forumcontent input[type="button"]:hover, 
.forumcontent input[type="submit"]:hover,
button:hover {background-color:#34495e;}

.forumcontent table.biglist td {height:80px;padding:10px 30px;}
.forumcontent table.biglist th {padding:0 15px 15px;}

/*rounded border*/
.roundedborder {border-radius:7px;-moz-border-radius:7px;}
.roundedborder td {border-right:none;border-bottom:none;}
.roundedborder td:first-child {border-left:none}
table.roundedborder tr:first-child td,
table.roundedborder th {border-top:none;}
table.roundedborder tr:first-child td:first-child, table.roundedborder tbody tr:first-child td:first-child,
table.roundedborder th:first-child {border-top-left-radius:7px;-moz-border-radius-topleft:7px;}
table.roundedborder tr:first-child td:last-child,table.roundedborder tbody tr:first-child td:last-child,
table.roundedborder th:last-child {border-top-right-radius:7px;-moz-border-radius-topright:7px;}
table.roundedborder tr:last-child td:first-child,
table.roundedborder tr:last-child th:first-child {border-bottom-left-radius:7px;-moz-border-radius-bottomleft:7px;}
table.roundedborder tr:last-child td:last-child,
table.roundedborder tr:last-child th:last-child {border-bottom-right-radius:7px;-moz-border-radius-bottomright:7px;}
table.roundedborder {border-collapse:separate;border-spacing:0;}

table.horizseparated td {border-top:1px solid #ecf0f1;border-left:none;border-right:none;border-bottom:none;}
table.horizseparated th, table.horizseparated tr:first-child th {border: none;}

.forumcontent table.postlist {width:100%}
.forumcontent table.postlist td {border-width: 1px;padding:30px;}
.forumcontent table.postlist td:first-child {width:120px;line-height:150%;text-align:center}
.forumcontent table.postlist .utils td {border-top:none;padding-top:0;padding-bottom:30px}
.forumcontent table.postlist td:first-child img.avatar {border-radius:32px}

.forumcontent .pager {clear:both;text-align:center;margin:10px;font-weight:bold;color:#ccc}
.forumcontent .pager a{color:#344D61;margin:5px}
.forumcontent .pager span {margin:5px}

/* other classes */
img.avatar {padding:2px 2px 2px 2px;height:64px;width:64px; -ms-interpolation-mode:bicubic; margin-bottom:3px;}
blockquote{color:#7777aa;text-decoration:none;margin-left:15px;}

.mpeDiv
{
    width: 100%;
    background-color: #fff;
    display: block;
    overflow: auto;
    max-height: 850px;
}
* html DIV.mpeDiv
{
    height: expression( this.scrollHeight > 650 ? "650px" : "auto" );
}
.mpeDivHeader
{
    background: url(../images/hdr_bck.gif) repeat-x;
    height: 35px;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 8px;
    padding-top: 2px;
	color: #fff;/*YPA 5-17-12*/
}